<div class='row'>
	<div class='col-xs-12'>
		<h1><%= "Edit #{@klass.to_s.humanize}" %></h1>
	</div>
</div>

<%= simple_form_for(@firm, url: {action: :update}, html: { class: 'form-horizontal' }) do |f| %>	
	<%= render :partial => 'form', :locals => { :f => f } %>
<% end %>