<div class='row spacer'>
	<div class='col-xs-12'>
		<h1><%= "New #{@klass.to_s}" %></h1>
	</div>
</div>

<div class="row">
	<%= simple_form_for(@firm, url: {action: :create}, html: { class: 'form-horizontal' }, defaults: { wrapper: :side_by_side }) do |f| %>	
		<%= render :partial => 'form', :locals => { :f => f } %>
	<% end %>
</div>