<div class="component-manager" id="<%= component %>-manager">
	<div id="add-<%= component %>-select-wrapper">
		<%= render partial: "partials/component_select", locals: { component: component, action: "Add" } %>
	</div>
</div>