<div id="<%= component %>" class="component-summary clearfix">
	<%= render partial: "/partials/image_sidebar", locals: { object: collection.first.packageable } %>
	<div class="col-xs-6">
		<table class="table table-responsive no-top-border no-margin">
			<%= render partial: "/partials/#{component}_table", locals: 
													{	object: collection.first.packageable, requirement: collection.first } %>
		</table>
	</div>
</div>
<%= render partial: "/partials/component_wrappers/select_links", locals: { collection: collection, component: component } %>