<div class="col-xs-12 component-container" id="<%= component %>_container">
	<%= render partial: "partials/component_wrappers/components_pane", locals: { project: @project, component: component } %>	
	<%= render partial: "partials/component_wrappers/select_links", 
							locals: { collection: parse_requirement_for(@project, component), component: component } %>
</div>