<div class="col-xs-6">
	<div class="col-xs-12 border-bottom"><h3>Back Label</h3></div>
	<%= render partial: "/partials/image_sidebar", locals: { object: label } %>
	<%= render partial: "/partials/attr_summary_table", locals: { object: attr_summary_array_for(label) } %>
</div>