<div class="col-xs-12 border-bottom">
	<h3>Project Notes</h3>
	<%= markup(@project.notes) %>
</div>
<div class="col-xs-12 spacer">
	<%= render partial: "/projects/new_comment", locals: { project: @project, comment: @project.comments.build, order: :desc } %>
	<div id="comments-list-desc" class="spacer">
		<% @project.comments.order('created_at DESC').each do |comment| %>
			<% unless comment.new_record? %>
				<%= render partial: "/projects/comment", locals: { comment: comment } %>
			<% end %>
		<% end %>
	</div>
</div>