<div id="<%= component %>" class="component-summary">
	<%= render partial: "/partials/image_sidebar", locals: { object: requirement.packageable } %>
	<div class="col-xs-6">
		<table class="table table-responsive no-top-border">
			<%= render partial: "/partials/#{component}_table", locals: 
													{	object: requirement.packageable, requirement: requirment } %>
		</table>
	</div>
</div>