<div id="<%= component %>" class="component-summary">
	<%= render partial: "/partials/image_sidebar", locals: { object: @project.send(requirement).packageable } %>
	<div class="col-xs-6">
		<table class="table table-responsive no-top-border">
			<%= render partial: "/partials/#{component}_table", locals: 
													{	object: @project.send(requirement).packageable, requirement: @project.send(requirement) } %>
		</table>
	</div>
</div>