<tr>
	<td>Position</td>
	<td class="bold"><%= object.position %> mm</td>
</tr>
<tr>
	<td>Specs</td>
	<td class="bold"><%= object.specs %></td>
</tr>
<tr>
	<td>Alc</td>
	<td class="bold"><%= object.alc %></td>
</tr>
<tr>
	<td>UPC</td>
	<td class="bold"><%= object.upc %></td>
</tr>