<table class="table table-responsive no-top-border">
	<tr>
		<td class="col-xs-4"><%= name.to_s.titleize %></td>
		<td id="upload-cell" class="col-xs-8">
			<%= f.cl_unsigned_image_upload(name, "frzj7e4j", html: { id: "image-upload"}) %>
			<div class="progress_bar" id="<%= name.to_s %>-upload-progress">&nbsp;</div>
		</td>
	</tr>
	<tr>
		<td colspan="2"><div class="thumbnails" id="<%= name.to_s %>-upload-thumbnail"></div></td>
	</tr>
</table>