<div class="row">
	<div class="col-xs-12">
		<div class="col-xs-12">
			<h3>Project Documents</h3>
		</div>
	</div>
</div>
<div class="row spacer">
	<div class="col-xs-12">
		<ul>
			<li><%= link_to "Download Spec Sheet", spec_sheet_path(@project, format: :pdf), target: :_blank %></li>
		</ul>
	</div>
</div>