<tr>
	<td>Vendor</td>
	<td class="bold"><%= link_to object.vendor.name, vendor_path(object.vendor) %></td>
</tr>
<tr>
	<td>Inventory</td>
	<td class="bold"><%= number_with_delimiter(object.inventory) %></td>
</tr>
<tr>
	<td>Need</td>
	<td class="bold"><%= number_with_delimiter(requirement.required_quantity) %></td>
</tr>