<div class="col-xs-6">
	<div class="col-xs-12 h3-wrap">
		<span class="h3"><%= requirement.packageable_type.titleize %></span>
		<%= link_to "Edit", edit_component_requirement_path(requirement), class: "pull-right" %>
	</div>
	<%= render partial: "/partials/image_sidebar", locals: { object: requirement.packageable } %>
	<%= render partial: "/partials/#{requirement.underscore.downcase}_summary_table", 
											locals: { object: requirement.packageable } %>
</div>