<div class="pull-right" id="vanilla-state-wrapper">
	<span id="vanilla-state-title"><%= project.aasm_state.titleize %>&nbsp;</span>
	<span class="project-status-button <%= project.aasm_state %>"></span>
</div>