<table class="table table-responsive no-top-border">
	<tr>
		<th class="col-xs-3"><h3 class="title">Taxes</h3></th>
		<th>&nbsp;</th>
	</tr>
	<tr>
		<td>Tax</td>
		<td><%= @project.taxes %></td>
	</tr>
</table>