<table class="table table-responsive no-top-border">
	<tr>
		<th class="col-xs-3"><h3 class="title">Winemaking</h3></th>
		<th>&nbsp;</th>
	</tr>
	<tr>
		<td>SO<sub>2</sub> Target</td>
		<td><%= @project.fso2_target %></td>
	</tr>
	<tr>
		<td>Max DO</td>
		<td><%= @project.max_do %></td>
	</tr>
</table>