<div class='row spacer'>
	<div class='row-same-height'>
		<div class='col-xs-8 col-xs-height'>
			<h1><%= @customer ? @customer.name : "All" %> Projects</h1>
		</div>
		<div class='col-xs-4 col-xs-height text-right'>
			<% if @customer %>
				<%= link_to "New #{@customer.name} Project", new_customer_project_path(@customer) %>
			<% else %>
				
				<%= select_tag "", options_for_select(@customer_options), include_blank: "Select a Customer to create a Project...", 
											id: "customer-project-select", class: "select optional form-control"  %>
				<script type="text/javascript">
					$(function(){
						$("select#customer-project-select").change(function(){
							var url = "/customers/" + $("option:selected", this).val() + "/projects/new";
							window.location.href = url;
						});
					});
				</script>
			<% end %>
		</div>
	</div>
</div>
<div class='row spacer'>
	<%= render partial: "index_table", locals: { projects: @projects } %>
</div>