<div class="row">
	<div class="col-xs-12">
		<h1>New <%= @project.customer.name %> Project</h1>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 container">
		<%= simple_form_for @project, url: customer_projects_path(@customer), html: { class: "form-horizontal" } do |f| %>
			<%= render partial: "form", locals: { :f => f } %>
			<%= f.button :submit, "Create Project", class: "col-xs-offset-2 spacer" %>
		<% end %>
	</div>
</div>