<div class='form-group'>
	<span class='col-xs-4 control-label bold'>Bottle Capacity</span>
	<div class='col-xs-4'>
		<%= f.text_field :bottle_capacity, class: 'form-control col-xs-2', placeholder: @klass.capacity_description.humanize %>
	</div>
	<div class='col-xs-4'>
		<%= f.select :bottle_capacity_units, @klass.capacity_select_options, {}, class:'form-control' %>
	</div>
</div>