<div class='form-group'>
	<span class='col-xs-4 control-label bold'>Label Position</span>
	<div class='col-xs-7'>
		<%= f.text_field :label_position, class: 'form-control col-xs-7' %>
	</div>
	<div class="control-label pull-left">mm</div>
</div>