/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

.table { margin-top: 20px; }
.form-horizontal { margin-top: 40px; }

h3.description { color: #909090; margin-top: 0px;}

.row-same-height {
  display: table;
  width: 100%;
  /* fix overflow */
  table-layout: fixed;
}

.col-xs-height {
  display: table-cell;
  float: none !important;
}

.spacer { margin-top: 40px; }
.l { text-align: right; color: #808080;}

.navbar-brand { font-weight: bold;}

header { margin-bottom: 60px; }

.dropdown-menu {
	background-color: #f8f8f8 !important;
	border-color: #b6b6b6 !important;
	width: 100% !important;
}

.dropdown-menu a:hover {
	background-color: #e6e6e6 !important;
}

.bold { font-weight: bold; }

.break { border-top: 1px solid #b6b6b6; padding-top: 40px; }

.x-spacer { float: left; padding-top: 8px; }

.subordinate h1 { font-size: 200%; }