/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

.table { margin-top: 20px; }
.form-horizontal { margin-top: 40px; }

h3.description { color: #909090; margin-top: 0px;}

.row-same-height {
  display: table;
  width: 100%;
  /* fix overflow */
  table-layout: fixed;
}

.col-xs-height {
  display: table-cell;
  float: none !important;
}

.spacer { margin-top: 40px; }
.l { text-align: right; color: #808080;}

.navbar-brand { font-weight: bold;}

header { margin-bottom: 60px; }

.dropdown-menu {
	background-color: #f8f8f8 !important;
	border-color: #b6b6b6 !important;
	width: 100% !important;
}

.dropdown-menu a:hover {
	background-color: #e6e6e6 !important;
}

.bold { font-weight: bold; }

.break { border-top: 1px solid #b6b6b6; padding-top: 40px; }

.x-spacer { float: left; padding-top: 8px; }

.subordinate h1 { font-size: 200%; }

.avatar-table { float: left; border: 1px solid gray;}
.avatar-show { border: 1px solid gray; }
.asset-show { border: 1px solid gray; }

.table td { vertical-align: middle !important; }

.float-left { float: left; }
.float-right { float: right; }
.pad-right { padding-right: 20px; }
.pad-bottom { padding-bottom: 10px; }
.minor { color: #a0a0a0; font-weight: lighter;}
.clear { clear: both; }

td.edit-table-label { padding: 4px 0px 0px 8px; padding-bottom: 15px; }
td.image-table-thumb { width: 100px; vertical-align: top; }
td.image-table-thumb img { float: left; padding-bottom: 4px; }

table#attachments-table-edit { width: 100%; }
table#attachments-table-edit td { vertical-align: top;}
table.no-top-border th { border-top: none !important;}
.file-input { margin-top: 7px; }
.top-cell { padding: 20px 0px 8px 0px; border-top: 1px solid #cdcdcd; }
.field-cell { padding-left: 8px; }
.attachments-upload-row { padding-bottom: 20px; }
.delete-checkbox { width: 100%; text-align: center; margin-top: 8px; clear: left; }
.thumb-delete-warning { color: red; }
.table-head-link { vertical-align: bottom !important; font-weight: normal; }
h3.title { margin-bottom: 0px; }
table .form-group { margin-bottom: 0px; }
tr.tinted-row td { border-color: #fff !important;}
.comment { margin: 0 0 20px 0; }
.resolved-comment { text-decoration: line-through; }
.comment-resolved-by { font-style: italic; font-size: 0.8em; float: right; }

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
	height: 34px !important;
	width: 275px !important;
}

#create-wine-form { display: none; }

.attachment-attr { color: #707070;}
.attachment-title { color: #505050; font-weight: bold; }