/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree
 *= stub pdf
*/

.table { margin-top: 20px; }
.form-horizontal { margin-top: 40px; }
.table td { background-color: #fff; text-shadow: 0px 0px #fff; }

h3.description { color: #909090; margin-top: 0px;}

.row-same-height {
  display: table;
  width: 100%;
  /* fix overflow */
  table-layout: fixed;
}

.col-xs-height {
  display: table-cell;
  float: none !important;
}

.spacer { margin-top: 40px; }
.l { text-align: right; color: #808080;}

.navbar-brand { font-weight: bold;}

header { margin-bottom: 60px; }

.dropdown-menu {
	background-color: #f8f8f8 !important;
	border-color: #b6b6b6 !important;
	width: 100% !important;
}

input#query { width: 240px; }
.white { color: white; }

.dropdown-menu a:hover {
	background-color: #e6e6e6 !important;
}

a.navbar-brand { color: black !important; }

.bold { font-weight: bold; }

.break { border-top: 1px solid #b6b6b6; padding-top: 40px; }

.x-spacer { float: left; padding-top: 8px; margin-left: -3px; }

.subordinate h1 { font-size: 200%; }

.avatar-table { float: left; border: 1px solid gray;}
.avatar-show { border: 1px solid gray; }
.asset-show { border: 1px solid gray; }

.table td { vertical-align: middle !important; }

.float-left { float: left; }
.float-right { float: right; }
.pad-right { padding-right: 20px; }
.pad-bottom { padding-bottom: 10px; }
.minor { color: #a0a0a0; font-weight: lighter;}
.clear { clear: both; }
.firm-details { float: left; margin-right: 40px; }

td.edit-table-label { padding: 4px 0px 0px 8px; padding-bottom: 15px; }
td.image-table-thumb { width: 100px; vertical-align: top; }
td.image-table-thumb img { float: left; padding-bottom: 4px; }


.table-inline { margin: 0px 20px 0px 0px !important; padding: 0px !important;}
.no-margin { margin-right: 0px !important;}

table#attachments-table-edit { width: 100%; }
table#attachments-table-edit td { vertical-align: top;}
table.no-top-border th { border-top: none !important;}
table.no-top-border tr:first-child td { border-top: none !important;}
table th { vertical-align: bottom !important; }
.file-input { margin-top: 7px; }
.top-cell { padding: 20px 0px 8px 0px; border-top: 1px solid #cdcdcd; }
.field-cell { padding-left: 8px; }
.attachments-upload-row { padding-bottom: 20px; }
.delete-checkbox { width: 100%; text-align: center; margin-top: 8px; clear: left; }
.thumb-delete-warning { color: red; }
.table-head-link { vertical-align: bottom !important; font-weight: normal; }
h3.title { margin-bottom: 0px; }
table .form-group { margin-bottom: 0px; }
.tinted-material-row { border: 1px solid #fff !important; min-height: 44px; line-height: 44px; }
.material-header { padding-left: 30px !important; }
.material-details { min-height: 44px; background: #fff; border: 1px solid red; }
table.top-align { margin-top: -10px; }

.comment { margin: 0 0 20px 0; }
.resolved-comment { text-decoration: line-through; }
.comment-resolved-by { font-style: italic; font-size: 0.8em; float: right; }
.title-row { text-align: center; }

a.comments-actions { color: #aaa; }
a.comments-actions:hover { text-decoration: none; color: #555; }
a.comments-actions:hover .glyphicon-comment { color: #555 !important; }

.border-bottom h3 { border-bottom: 1px solid #777; margin-bottom: 40px; color: #777; }

.empty-category-title { color: #999; padding-bottom: 0px; }

.form-subhead { border-bottom: 1px solid #aaa;}

.component-show .row { margin: 10px 0px; }
.component-attributes { margin-bottom: 40px; }

.submit-spacer { margin-top: 46px; height: 38px;}
.nudge-left { margin-left: -5px; }

#project-labels { margin-top: 15px; }
#project-labels img { margin-bottom: 20px; }

.align-right { text-align: right; }
.align-left	 { text-align: left; }

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
	height: 34px !important;
	width: 275px !important;
}

.red { background-color: red; height: 50px; }

#create-wine-form { display: none; }

.attachment-attr { color: #707070;}
.attachment-title { color: #505050; font-weight: bold; }

.default-medium-image { 
	height: 255px; 
	width:255px; 
	background-color: #ddd; 
	border: 2px solid #ccc; 
	line-height: 255px; 
	text-align: center;
	color: #888;
	font-size: 1.5em;
}

#customer-project-select, #customer-shipment-select, #vendor-product-select { color: #999; }
.comment-style-link { }
input.addon { width: 96% !important; }
label.for-addon { margin-right: 15px !important; }

.fancyform-beard a { color: inherit !important; }
.fancyform-beard a:hover { text-decoration: none; cursor: text; }

.right { text-align: right; }
tr#sum-row td { font-weight: bold; border-top: 2px solid #ddd; }

.inline-spinner { line-height: 40px !important; }
.button-wide { width: 100%; }

.create-select { color: #777; }
.bip-grey {color: #aaa;}
.form_in_place input { margin: -20px; }
.bip-table-input { width: 50px; border: 1px solid #777; margin: 0px !important; }
.round-addon-right { border-top-left-radius: 4px !important; border-bottom-left-radius: 4px !important;}

.in-place input { padding: 8px 0 5px 10px; border: 1px solid #ddd;}
.in-place label.no-bold { font-weight: normal; }
.in-place select { border: 1px solid #ddd; height: 30px; padding-bottom: 5px; }
.in-place input.short { width: 60px; margin-right: 5px; }
.in-place input.short.no-x { margin-right: 21px;}
.in-place input.medium { width: 80px; }
.x-span { margin-right: 5px; }
input.has-value { border: 0 !important; padding: 9px 1px 6px 11px; }
.progress_bar { background: #ddd; height: 5px; width: 1%;}
table img { border: 1px solid #dfdfdf; }

.h3 { 
	font-size: 24px;
	color: #777 !important;
}

.h3-wrap {
	margin: 20px 15px 40px 15px;;
	border-bottom: 1px solid #777;
}

.glow-container {
	width: 5px;
	height:40px;
	float: left;
	margin-right: 5px;
	position: relative;
}

div.project-component {
	min-height: 430px;
}
.component-summary { min-height: 260px !important; }
.component-manager { height: 40px; line-height: 40px; }
.component-container { margin-bottom: 40px; }

.gray { color: #777 !important; }

.ship-status {
	font-family: courier;
	padding: 3px 5px;
	border-radius: 4px;
	color: #fff;
}

.pending, .info_received { background-color: #afafaf; color: #fff; }
.in_transit { background-color: hsla(211, 55%, 55%, 1); color: #fff; }
.out_for_delivery { background-color: hsla(37, 95%, 55%, 1); }
.attempt_fail { background-color: hsla(268, 65%, 65%, 1); }
.delivered { background-color: hsla(115, 45%, 45%, 1); }
.exception { background-color: hsla(0, 85%, 45%, 1); }
.expired { background-color: hsla(0, 5%, 25%, 1); }

.mini-component-container { margin-bottom: 60px;}
table.no-margin { margin: 0px !important; }

.glow { position: absolute; }

.glow-3 { background-color: hsl(90, 100%, 49%); width: 1px; top: 3px; left: 1px; height: 30px;}
.glow-2 { background-color: hsl(90, 100%, 75%); width: 3px; top: 2px; left: 1px; height: 36px; border-radius: 1px; }
.glow-1 { background-color: hsl(90, 100%, 90%); width: 5px; top: 0px; height: 40px; border-radius: 2px;}

.empty-table { height: 300px; text-align: center; font-size: 2em; background-color: #eee; color: #777;}