<div class="form-group">
	<span class="col-xs-2 control-label bold"><%= attribute.to_s.titleize %></span>
	<div class="col-xs-4">
		<%= wine.text_field attribute, class: "form-control col-xs-4" %>
	</div>
	<span class="control-label bold pull-left">@</span>
	<div class="col-xs-2">
		<%= wine.text_field attribute.to_s.concat("_percent").intern, class: "form-control col-xs-2" %>
	</div>
	<div class="container">
		<span class="control-label bold pull-left">%</span>
	</div>
</div>