<div class="row">
	<%= simple_form_for @wine, html: { class: "form-horizontal in-place", id: "create-form" }, defaults: { wrapper: :side_by_side } do |f| %>
		<%= render partial: "form", locals: { :f => f } %>
	<% end %>
</div>