<div class="row">
	<div class="row-same-height">
		<div class="col-xs-8 col-xs-height"><h1><%= @wine.to_s %></h1></div>
		<div class="col-xs-4 col-xs-height pull-right"><%= link_to "Edit Wine", edit_wine_path(@wine) %></div>
	</div>
</div>