<div id="drop-zone">
	<%= link_to cl_image_tag(@component.image_url(:sidebar)), @component.image_url, target: :_blank %>
</div>
<p><%= link_to "Replace Image", "#", id: "replace-image-link" %> (doesn't work)</p>
<div id="image-replace"></div>