<div class='form-group'>
	<span class='col-xs-2 control-label bold'>Artwork</span>
	<div class='col-xs-2'>
		<input type='file' name=packaging_component[image]>
		<p class='help-block'>Upload <%= @klass.to_s.downcase %> file</p>
	</div>
</div>