<div class='form-group'>
	<span class='col-xs-4 control-label bold'>Specs</span>
	<div class='col-xs-2'>
		<%= f.text_field :height, class: 'form-control col-xs-2', placeholder: 'Height' %>	
	</div>
	<span class='x-spacer'>x</span>
	<div class='col-xs-2 nudge-left'>
		<%= f.text_field :width, class: 'form-control col-xs-2', placeholder: @klass.width_abbreviation %>					
	</div>
	<div class='col-xs-4'>
		<%= f.select :units, @klass.spec_select_options, {}, class: 'form-control', id: 'specs-form-control' %>
	</div>
</div>