<%= f.text_field :height, class: "short", placeholder: "H" %>
<span class="x-span">x</span>
<%= f.text_field :width, class: "short", placeholder: @component.width_placeholder %>
<%= f.select :units, @component.units_options %>