<script type="text/javascript">
	$(document).ready(function(){
		$(".replace-upload").click(function(){
			var type = $(this).attr("data-type");
			// $("#replace-" + type + "-form").css("visibility", "visible");
			$("#" + type + "-upload").trigger("click");
		});
		console.log("here we are");
		$(".cloudinary-fileupload").fileupload({
			dropZone: $(this).attr("data-dropzone"),
			start: function (e) {
				var type = $(this).attr("data-attribute");
				$("#" + type + "-status").text("Starting upload...");
			},
			progress: function (e, data) {
				var type = $(this).attr("data-attribute");
				$("#" + type + "-status").text("Uploading... " + Math.round((data.loaded * 100.0) / data.total) + "%");
			},
			fail: function (e, data) {
				var type = $(this).attr("data-attribute");
				$("#" + type + "-status").text("Upload Failed. " + data);
			}
		})
		.off("cloudinarydone").on("cloudinarydone", function (e, data) {
			var component = $(this).attr("data-component");
			var type			= $(this).attr("data-attribute");
			var public_id = data.result.public_id;
			var version		= data.result.version;
			var form = $(this).closest("form");
			var url	= form.attr("action");
			var method = form.attr("data-method");
			if ( method == "patch" ) {
				$.post(url, $(form).serialize(), function(data) {
					$("#" + type + "-replace").html($.cloudinary.image(public_id,
						{ format: 'png', version: version, width: 350, height: 350, crop: "fit" } ));
				},
					"script"
				);
			} else {
				$("#" + type + "-explain").html(type.toUpperCase() + " Preview");
				$("#" + type + "-preview").html($.cloudinary.image(public_id,
					{ format: 'png', version: version, width: 350, height: 350, crop: 'fit' } ));
			}
			$(".status").text("");
			var preview = $("#" + type + "-replace").html("");
			$("<a/>").
				addClass("delete_by_token").
				attr({href: "#"}).
				data({delete_token: data.result.delete_token}).
				html("<span class='glyphicon glyphicon-trash'></span>").
				appendTo(preview).
				click(function(e) {
					e.preventDefault();
					$.cloudinary.delete_by_token($(this).data("delete_token")).done(function(){
						$(".preview").html("");
						$("#info").html("");
						$("input[name='" + component + "[" + type + "]" + "']").remove();
					}).fail(function() {
						$(".status").text("Cannot delete image.");
					});
				});
		});
	});
</script>