<div class='row'>
	<div class='row-same-height'>
		<div class='col-xs-8 col-xs-height'>
			<h1><%= controller_name.titleize %></h1>
		</div>
		<div class='col-xs-4 col-xs-height text-right'>
			<%= link_to "Create New #{controller_name.titleize.singularize}", controller: controller_name, action: "new" %>
		</div>
	</div>
</div>
<%= render :partial => "packaging_components_table", :locals => { :components => @components } %>