<div class='row'>
	<div class='col-xs-12'>
		<h1>New <%= @klass.to_s %></h1>
	</div>
</div>

<%= simple_form_for(@packaging_component, url: { action: "create" }, html: { class: 'form-horizontal' }) do |f| %>
	<%= render partial: "form", locals: { :f => f, :klass => @klass } %>
<% end %>